body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.activeTab {
  font-weight: bold;
}

li[ui-sref]:hover {
  cursor: pointer;
  font-weight:bold;

}
